{% extends 'master.html' %}

{% block title %}
New mobile
{% endblock %}

{% block content %}

<form method="post" action="{% url 'telefoni:new' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.producer.id_for_label }}">{{ form.producer.label_tag }}</label>
        <input type="text" class="form-control" id="{{ form.producer.id_for_label }}" name="{{ form.producer.name }}">
        {% if form.producer.errors %}
        <div class="alert alert-danger">
            <ul style="text-align: left">
                {% for error in form.producer.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.model.id_for_label }}">{{ form.model.label_tag }}</label>
        <input type="text" class="form-control" id="{{ form.model.id_for_label }}" name="{{ form.model.name }}">
        {% if form.model.errors %}
        <div class="alert alert-danger">
            <ul style="text-align: left">
                {% for error in form.model.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <input type="submit" class="btn btn-primary btn-lg" value="Add" />
</form>

{% endblock %}